// import
@import '_normalize';

@font-face {
	font-family: Bebas;
	src: url('../fonts/BebasNeue.otf');
}
@font-face {
	font-family: quicksand;
	src: url('../fonts/Quicksand-Regular.ttf');
}

// mixins 
@mixin linxGlobal($link, $visit, $hover, $decoration) {
	a {
		color: $link;
		text-decoration: none;
		&:visited {
			color: $visit;
		}
		&:hover {
			color: $hover;
			text-decoration: $decoration;
		}
		&:active {
			text-decoration: $decoration;
		}
	}

}
@mixin vendor-prefix($name, $value) {
	@each $vendor in ('-webkit-', '-moz-', '-o-', '-ms-') {
		#{$vendor}#{$name}: #{$value};
	}
} 
@mixin vendor-prefix-animation($prefix, $name, $fromName, $fromValue, $toName, $toValue) { // $prefix should always be '@' 
	@each $vendor in ('-webkit-', '-moz-', '-o-', '-ms-') { 
		#{$prefix}-#{$vendor}-keyframes #{$name}{
			from {
				#{$fromName}: #{$fromValue};
			} to {
				#{$toName}: #{$toValue};
			}
		}
	}
} 
@mixin bodyFont() {
	font-family:  quicksand, sans-serif;
	padding: 0 15px;
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: center;
}
@mixin bebasFont {
	font-family:  Bebas, sans-serif;
	padding: 0 15px;
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: center;
}
// header styles
header, 
header h1, 
header nav ul li, {
	@include linxGlobal(lightgrey, lightgrey, lightgrey, none);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: relative;
	#logo {
		text-align: center;
		margin: 5px 0;
		margin-bottom: 0;
		a {
			img {
			    max-height: 25%;
				width: 30px;
				margin-left: 13px;
			}
		}
	}
	#dev-name-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			display: inline;
			margin-right: 60px;
		}
		p, span {
			font-family: Bebas, sans-serif;
			color: white;
			font-size: 2.0rem
		}
	}
	#nav-icon-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 2rem;
		padding-left: 10px;
		padding-bottom: 6px;
		z-index: 1;
	}
	.empty-space {
		padding-right: 10px
	}
	#header-navigation {
		text-align: center;
		background-color: darkslategray;
		opacity: 0.99;
		position: fixed;
		font-size: 3rem;
		height: 100vh;
		width: 0%;
		z-index: 1;
		left: 0;
		top: 0;
		overflow: hidden;
		transition: 0.2s;
		.close {
			position: absolute;
			right: 0;
			top: 5px;
			text-align: left;
			margin-bottom: 5px;
			margin-right: 10px;
			font-size: 2.2rem;
			font-family: Bebas, sans-serif;
			color: lightgray;
		}
		nav {
			display: flex;
			height: 100vh;
			align-items: center;
			justify-content: center;
			ul {
				list-style: none;
				margin: 30px 0;
				padding: 0;
				opacity: 0;
				li {
					margin-bottom: 5px;
					a {
						font-family: Bebas, sans-serif;
						color: lightgray;
					}
				}
			}

		}
	}
}

// body styles

body {
	background-color: black;
	color: white;
	#full-screen-wrapper {
		width: 100vw;
		background-image: url('../img/mosaic-4k.jpg');
		background-repeat: no-repeat;
		background-size: 1000px;
		background-position: top center;
		@include linxGlobal(white, white, white, none);
		#home-fullscreen-section {
			height: 100vh;
			main {
				@include linxGlobal(white, white, white, none);
				h2 {
					margin-bottom: 20px;
				}
				a {
					display: flex;
					justify-content: center;
					font-family: quicksand, sans-serif;
					margin: 0 20%;
					margin-bottom: 30px;
				}
				#home-body-text {
					@include bodyFont();	
				}
			}
		}
		aside {
			#gypsy-coture-portfolio {
				width: 100vw;
				height: 100vh;
				background-image: url('./../img/gypsy-coture-case/gypsy-coture-background-finished.jpg');
				background-size: 1070px;
				background-position: top center;
				background-repeat: no-repeat;
				display: flex;
				justify-content: center;
				position: relative;
				margin-bottom: 50px;
				@include linxGlobal(black, black, black, none);
				img {
					height: 120px;
					position: absolute;
					top: 150px;
				}
				.case-study-button {
					height: 20px;
					padding: 10px 25px;
					border: 2px solid black;
					@include vendor-prefix(border-radius, 30px);
					position: absolute;
					font-family: quicksand, sans-serif;
					top: 300px;
				}
			}
		}
		#contact-section {
			font-family: quicksand, sans-serif;
			text-align: center;
			a {
				display: flex;
				justify-content: center;
				margin: 0 20%;
				margin-bottom: 30px;
			}
			p {
				@include bodyFont();
				padding-bottom: 20px;
				border-bottom: 2px solid yellow;
				margin-bottom: 0;
			}
		}
	}
}

// footer Styles
footer {
	@include bodyFont();
	text-align: center;
	background-color: darkslategray;
	padding: 15px 0;
	nav {
		#footer-navigation {
			list-style: none;
			padding: 0;
			margin-top: 0;
			li {
				display: inline-flex;
				justify-content: center;
				@include bebasFont();
				font-size: 1.1rem;
				padding: 2px;
			}
		}
	}
	p {
		margin: 0;
	}
}
// class styles
.hidden {
	display: none
}
.col-3 {
	flex-basis: 33.33%;
}
.strike-through {
	text-decoration-line: line-through;
}
.be-bold {
	font-family: Bebas, sans-serif;
	font-size: 5rem;
	color: yellow;
	text-align: center;
}
.button-link {
	text-align: center;
	border: 2px solid yellow;
	@include vendor-prefix(border-radius, 3px);
	padding: 10px;
}
.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}
.fade-out {
	opacity: 1;
	animation: fadeOut ease-in 1;
	animation-duration: 0.2s;
}

// animations 
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }